@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';

$utilities:(
  "viewport-height": (
    property: height,
    class: vh,
    values: (
      25: 25vh,
      30: 30vh,
      35: 35vh,
      40: 40vh,
      45: 45vh,
      50: 50vh,
      60: 60vh,
      65: 65vh,
      70: 70vh,
      75: 75vh,
      80: 80vh,
      85: 85vh,
      90: 90vh,
      95: 95vh,
      100: 100vh,
      auto: auto
    )
  ),
  "min-viewport-height": (
    property: min-height,
    class: min-vh,
    values: (
      25: 25vh,
      30: 30vh,
      35: 35vh,
      40: 40vh,
      45: 45vh,
      50: 50vh,
      60: 60vh,
      65: 65vh,
      70: 70vh,
      75: 75vh,
      80: 80vh,
      85: 85vh,
      90: 90vh,
      95: 95vh,
      100: 100vh,
      auto: auto
    )
  ),
);

@import 'bootstrap/scss/bootstrap';